# Set to true if you want to apply changes in real-time
# For example, when file is edited the plugin load the changes
# WARNING: This a experimental system
File-Listener: false

# Locale configuration
Locale:
  # Language file to use
  # Available files are on "plugins/PicosPacos/lang" folder
  # You can create your own language file and put the name here
  Language: 'en_US'
  # Log levels (Messages to see in console)
  # 0 = Disabled
  # 1 = Errors
  # 2 = Errors and warnings
  # 3 = Errors, warnings and information
  # 4 = Errors, warnings, information and debug messages
  LogLevel: 2


# Plugin configuration
Config:
  # Give saved items on player respawn
  Respawn:
    # Enable or not this function
    Enabled: true
    # Blacklisted worlds
    Blacklist-Worlds:
      - 'worldName'
    # Delay in seconds to give saved items on respawn
    # Set to 0 to disable
    Delay: 0
  # Give saved items on player joins (Only if player disconnects after death)
  Join:
    # Enable or not this function
    Enabled: true
    # Blacklisted worlds
    Blacklist-Worlds:
      - 'worldName'
    # Delay in seconds to give saved on join
    Delay: 10
  # Drop warning configuration
  Drop:
    # Enable or not this feature
    Enabled: true
    # Blacklisted worlds
    Blacklist-Worlds: []
    # Permission to have this feature
    Permission: 'picospacos.drop'


# Database configuration
Database:
  # Available types:
  # * JSON - Save player data locally in .json file
  # * SQLITE - Save player data locally in one .db file (Recommended for local database)
  # * SQL - Save player data externally in sql database, you can configure this below
  Type: 'SQLITE'
  # Available types:
  # * UUID - Use player uuid to recognize him on database
  # * NAME - Use player name to recognize him on database (Recommended for cracked/offline servers)
  Method: 'UUID'
  # SQL database configuration (Only touch on use)
  Sql:
    # Class driver to use, mysql by default
    class: 'com.mysql.jdbc.Driver'
    # Connection url, change "localhost:3306" and "database" with your own info
    # If you know about sql flags change them if needed
    url: 'jdbc:mysql://localhost:3306/database?autoReconnect=true&useSSL=false&allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8'
    # Database user
    user: 'username'
    # Database password
    password: 'password'
    # Database timeout to check if had valid connection
    timeout: 1000
    # Database queries configuration, touch only if you know what you are doing
    query:
      create: 'CREATE TABLE IF NOT EXISTS picospacos_players (player VARCHAR(255) NOT NULL, saves INT, items MEDIUMTEXT, PRIMARY KEY(player))'
      insert: 'INSERT INTO picospacos_players (player, saves, items) VALUES (?, ?, ?)'
      delete: 'DELETE FROM picospacos_players WHERE player = ?'
      update: 'UPDATE picospacos_players SET saves = ?, items = ? WHERE player = ?'
      select: 'SELECT * FROM picospacos_players WHERE player = ?'


# Plugin hooks configuration
Hook:
  # PlaceholderAPI hook
  PlayerholderAPI:
    # Enable or not this hook
    enabled: true
    # Identifiers to parse placeholder expansion
    identifiers:
      - 'picospacos'
      - 'pipa'
    # Time in seconds to cache placeholder requests by default
    # To cache a request you need to add "_cache" at final of placeholder
    # or add "_cache:<seconds>" for custom time, for example %<identifier>_saves_cache:5%
    cache: 20
    # Text to put in rule tags name to allow PlaceholderAPI
    rule: 'allowPapi'
  # Vault hook
  Vault:
    # Enable or not this hook
    enabled: true

# Plugin command configuration
Command:
  aliases:
    - 'ppacos'
    - 'picosp'
    - 'pp'
  permission:
    all: 'picospacos.*'
    use: 'picospacos.use'
    reload: 'picospacos.command.reload'
    saves: 'picospacos.command.saves'